extends base

block content
    main.main
        .user-view__form-container
            h2.heading-secondary.ma-bt-md Reset Password
            form.form.form-user-reset-password(data-token=`${token}`)
                .form__group
                    label.form__label(for='password') New password
                    input#password.form__input(type='password' placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-lg
                    label.form__label(for='password-confirm') Confirm new password
                    input#password-confirm.form__input(type='password' placeholder='••••••••', required, minlength='8')
                .form__group.right
                    button.btn.btn--small.btn--green.update-password Save password